.Help {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .Content {
        padding-right: 5rem;
        text-align: left;
        h2 {
            font-size: 36px;
        }
        p {
            font-size: 27px;
            line-height: 140%;
            span {
                font-weight: bold;
            }
        }
        a {
            display: inline-block;
            padding: 1rem 2rem;
            background: #A30000;
            color: #fff;
            border-radius: 23px;
            font-size: 24px;
            font-weight: 500;
        }
    }
    .Image {
        width: 550px;
        height: auto;
    }
}