@import '../../assets/styles/mixins.scss';

.Hero {
    height: 80vh;
    width: 100vw;
    overflow: hidden;
    background-position: center center;
    background-color: $theme-black;
    background-size: cover;
    background-repeat: no-repeat !important;
    display: flex;
    justify-content: center;
    align-items: center;
    .HeroContent {
        max-width: 1024px;
        padding: 4rem;
        color: #fff;
        text-align: left;
        h1 {
            font-size: 3rem;
        }
    }
    @include media($bp-tablet) {
        height: 100vh;
        max-height: 700px;
    }
    @include media($bp-mobile) {
        animation: bg_image 60s linear 2s infinite reverse;
        .HeroContent {
            h1 {
                font-size: 2rem;
            }
            button {
                font-size: 18px;
            }
        }
    }
}


@keyframes bg_image {
    0% {background-position: center center;}
    25% { background-position: right center;}
    50% {background-position: center center;}
    75% {background-position: left center;}
    100% { background-position: center center;}
}