.Hero {
    height: 80vh;
    width: 100%;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    .HeroContent {
        max-width: 1024px;
        padding: 2rem;
        color: #fff;
        text-align: left;
        h1 {
            font-size: 3rem;
        }
        button {
            background: #A30000;
            border-radius: 23px;
            border: none;
            padding: 1rem 3rem;
            outline: none;
            color: #fff;
            cursor: pointer;
            font-size: 1.3em;
            font-weight: 100 !important;
        }
    }
}