.Mission {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;

    .Content {
        padding-left: 6rem;
        text-align: left;
        h2 {
            span { color: #D01132}
            font-size: 36px;
            font-weight: 700;
        }
        p {
            line-height: 177%;
            font-size: 18px;
            font-weight: 400;
            span {
                font-weight: bold;
            }
        }
    }

    .Image {
        width: 550px;
        image {
            width: 100%; 
        }
    }
}