@import '../../../assets/styles/mixins.scss';
.ContactForm {
    max-width: 550px;
    width: 100%;
    margin: 0 auto;
    @include media($bp-tablet) {
        max-width: 500px;
    }
    form {
        width: 100%;
        .FormGroup {
            margin-bottom: .5rem;
            label {
                display: block;
                padding-left: 2rem;
                margin-bottom: .3rem;
                font-size: 18px;
            }
            input, textarea {
                width: 100%;
                border-radius: 10px;
                border: 1px solid #000;
                outline: none;
                resize: none;
                padding: 10px 10px 10px 30px;
                font-size: 18px;
                font-family: inherit;
            }
            .ErrorMsg {
                height: 18px;
                margin: 0;
                font-size: 14px;
                padding-left: 3rem;
                padding-top: 5px;
            }
        }
        .SendBtn {
            height: 50px;
            width: 195px;
            background: #A30000;
            color: #fff;
            border-radius: 10px;
            border: none;
            font-size: 20px;
            cursor: pointer;
        }
    }
}